@font-face {
  font-family: "PPFormula";
  src: url("/fonts/PPFormula-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PPFormula";
  src: url("/fonts/PPFormula-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPFormula";
  src: url("/fonts/PPFormula-CondensedBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: #142318;
    color: white;
  }
}
